@charset "utf-8";

/* 初期化 */
html, body { height: 100%; }
img { border: none; }
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ここから */
// main{
//   padding: 40px 0;
//   background: #f0f0f0;
// }

// h1{
//   font-size: 3rem;
//   text-align: center;
//   margin-bottom: 40px;
// }

// ul{
//   list-style: none;
//   width: 100%;
//   margin: 0 auto;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   li{
//     padding: 40px;
//     h2{
//       font-size: 2rem;
//       text-align: center;
//       margin-bottom: 40px;
//     }
//     div{
//       width: 300px;
//       height: 400px;
//       padding: 80px 30px;
//       background: #fff;
//       box-shadow: 0 4px 8px rgba(0, 0, 0, .16);
//       img{
//         display: block;
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }